$font-color:#1e5f8d;
$font-hover-color:#00a6eb;
$nav-shadows:0 0 8px 0 rgba(0,0,0,.2);
$c-white:#fff;
$c-border:1px solid #e5e5e5;;
$last-section-bc-color:#fafafa;
$para-color:#333;
$btn-bc:#eee;
$font-small:13px;
$font-norm:15px;
$padding-5:5px;
$cart-font-color:#555;
$cart-bc:rgba(255,255,255,.9);